<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Structure</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            html, body {
                font-weight: 600;
                font-size: 1rem;
            }
            .bg-1 {
                background-color: #e8e8e8;
            }
        </style>
    </head>
    <body>
        
        <header>
            <div class="p-4 bg-info">
                <div class="container text-center" style="color: #fff">
                    <div class="row">
                        <div class="col-10 text-left">
                            <h1>Data Lake</h1>
                            <h5>Structure DL sources</h5>
                        </div>
                        <div class="col-2 text-right">
                            <a href=""><button class="bnt btn-dark p-2 pr-4 pl-4 m-2 text-uppercase" 
                                style="border: none; border-radius: 3px; color: #eee; font-weight: 700;">Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="row m-0 bg-info" style="height: 84vh;">
            <div class="container p-5" style="background-color: #f7fbfd">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>